.main-noticias {
    color: var(--white-950);
}

.container-noticias {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: 200px;

    gap: 20px;

    .noticia {
        display: flex;

        border-radius: 10px;
        overflow: hidden;

        .imagem-noticia {
            display: flex;
            height: 200px;
            width: 250px;

            flex-shrink: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .conteudo-noticia {
            display: flex;
            flex-direction: column;

            justify-content: space-between;

            .texto-noticia {
                display: flex;
                flex-direction: column;

                .titulo-noticia {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }

                .descricao-noticia {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }
            }

            .info-noticia {
                display: flex;
                justify-content: space-between;
                flex-shrink: 0;

                .site-logo {
                    height: 32px;
                    width: 32px;

                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
    }
}

.conteudo-noticia {
    padding: 10px;
}

.conteudo-noticia p {
    margin: 5px 0;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2d2727;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    width: 8px;
    margin: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #717171;
}
