.main-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .home__head-container {
        width: 100%;

        display: flex;
        justify-content: space-between;

        .unblur__button {
            display: flex;
            align-self: flex-start;

            align-items: center;
            justify-content: center;

            border-radius: 100vh;
            padding: 10px;
        }
    }

    .home__content {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 50px;

        .table-widget {
            display: flex;
            flex-direction: column;

            gap: 16px;

            color: var(--white-950) !important;
            border-radius: 20px;

            padding: 20px;

            & > h4 {
                flex-shrink: 0;
            }

            .table-widget__container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                gap: 10px;

                hr {
                    opacity: 0.25;
                }

                .table-widget__item {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    gap: 5px;

                    h5,
                    p {
                        // max 1 line
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }

                    .site-link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        img {
                            width: 20px;
                            height: 20px;

                            border-radius: 50%;
                        }
                    }
                }

                .table-widget__item-links {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            .table__widget-link-to {
                flex-shrink: 0;

                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
            }
        }
    }
}
